* {
  box-sizing: content-box;
}
body {
  margin: 0;
}
header {
  height: 2rem;
}
header nav:first-child {
  width: 80%;
  height: 100%;
  background-color: rgb(0, 213, 107);
  float: left;
}
header nav:nth-child(2) {
  width: 20%;
  height: 100%;
  background-color: rgb(0, 125, 191);
  float: right;
}
aside {
  width: 30%;
  height: 6rem;
  background-color: rgb(248, 55, 31);
  float: left;
}
section {
  width: 70%;
  height: 6rem;
  float: right;
}
section article:first-child {
  background-color: rgb(243, 122, 0);
  width: 50%;
  height: 50%;
  float: left;
}
section article:nth-child(2) {
  background-color: rgb(146, 166, 167);
  width: 50%;
  height: 50%;
  float: right;
}
section article:nth-child(3) {
  background-color: rgb(254, 155, 0);
  width: 33.33%;
  height: 50%;
  float: left;
}
section article:nth-child(4) {
  background-color: rgb(0, 165, 134);
  width: 33.33%;
  height: 50%;
  float: left;
}
section article:nth-child(5) {
  background-color: rgb(255, 73, 0);
  width: 33.33%;
  height: 50%;
  float: right;
}
footer {
  height: 8rem;
  background-color: rgb(41, 61, 82);
  clear: both;
}